# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next
/out

# Production
/build

# Misc
.DS_Store
*.pem

# Vercel
.vercel

# Firebase
*.log
firebase-debug.log
hosting.C.log
firestore-debug.log
ui-debug.log
firebase.json.local

# Local .env file
.env.local
.env.*.local

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Nested git repos
admin-aserradero.git/

# Workspace folder
workspace/
